
.jumbotron {
   background-image: url("bootsurf.jpg");
   background-position: center;
   background-repeat: no-repeat;
   background-size:cover;
   background-color:#grey;
   height: 500px;
   opacity: 0.3;
}

  /* Centre l'image et la met bien sur tous les écrans */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 60px;
}

.containertext-center {
  margin-bottom: 80px;
}

  
.fasfa-users"></i>
